language: node_js
node_js:
  - lts/*
install:
  - yarn
script:
  - yarn build
cache:
  directories:
    - 'node_modules'
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: docs/.vuepress/dist
  github-token: $github_token # a token generated on github allowing travis to push code on you repository
  keep-history: true
  on:
    branch: master
