html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    background: #585555;
}

#wrapper {
    width: auto;
    max-width: 1200px;
    /* background: #4e4e4e; */
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
}

div.logo {
    display: inline-block;
}

.logo-img:hover, .logo-img:visited, .logo-img:link, .logo-img:active {
    text-decoration: none;
}

div.logo .logo-img {
    background-image: url(./jdc-logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: transparent;
    display: inline-block;
    width: 112px;
    height: 34px;
    position: relative;
    top: -10px;
    margin-right: 23px;
}

div.menu {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
    cursor: pointer;
}

ul li a:hover, ul li a:visited, ul li a:link, ul li a:active {
    text-decoration: none;
}

/* 顶级菜单的样式 */

ul.parent {
    width: 100%;
}

ul.parent>li {
    padding: 0 16px;
    height: 60px;
    line-height: 60px;
    color: #fff;
}

ul.parent>li:hover {
    background: orange;
    color: #fff;
}

ul.parent>li>a:hover, ul.parent>li>a:visited, ul.parent>li>a:link, ul.parent>li>a:active {
    color: #fff;
}

ul.parent>li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background: #42464a;
    margin-left: -16px;
    padding-right: 10px;
    text-align: left;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub li {
    display: block;
    padding-left: 20px;
    line-height: 40px;
}

.sub li>a {
    color: #fff;
    display: block;
}

.sub li>a:hover {
    color: #549cff;
}

.water-full {
    display: none;
    position: absolute;
    background: #4e4e4e;
    left: 0;
    right: 0;
    text-align: left;
    padding: 20px 0 10px 222px;
}

.parent>li:hover>.water-full {
    display: block;
}

.water-full h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: initial;
    margin-bottom: 15px;
    padding-left: 20px;
}

.water-full>ul>li>a:hover, .water-full>ul>li>a:visited, .water-full>ul>li>a:link, .water-full>ul>li>a:active {
    color: #999;
    display: block;
    padding-left: 20px;
}

.water-full>ul>li {
    width: 208px;
    line-height: 40px;
    vertical-align: top;
}

.water-full>ul>li>a:hover {
    color: #549cff;
    background: #5e5e5e;
}

.menu-right {
    float: right;
    line-height: 60px;
}

.menu-right>a, .menu-right>.user-info {
    display: inline-block;
}

.menu-right a:link, .menu-right a:visited, .menu-right a:hover, .menu-right a>:active {
    /* line-height: 60px; */
    color: #fff;
    text-decoration: none;
}

.menu-right-monitor {
    border: 1px solid #ccc;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 4px;
    margin-right: 10px;
}

.menu-right-monitor:hover {
    color: #549cff !important;
    /* border-color: #549cff; */
}

.menu-right-backup {
    padding: 0 15px;
    line-height: 24px;
}

.menu-right-backup:hover {
    color: #549cff !important;
}

.user-info {
    padding: 0 30px 0 20px;
    position: relative;
}

.user-info:hover {
    background: orange;
}

.user-info:hover .menu-drop{
    display: block;
}

.user-info>a {
    cursor: default;
}

.user-info img {
    height: 26px;
    vertical-align: middle;
    margin-right: 5px;
}

.user-info .down {
    position: absolute;
    top: 29px;
    right: 18px;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #fff transparent transparent;
}

.menu-drop {
    display: none;
    position: absolute;
    right: 0;
    width: 185px;
    padding: 16px 16px 0;
    background: #191b1d;
}

.menu-drop-list>li {
    line-height: 24px;
    display: block;
    font-size: 12px;
    text-align: left;
    line-height: 33px;
}

.menu-drop-list>li>a{
    display: block;
}

.menu-drop-list > li > a:hover{
    color: #549cff;
}

.no-read-count{
    float: right;
    margin-top: 7px;
    border-radius: 8px;
    background-color: orange;
    padding: 0 7px;
    line-height: 18px;
}