<!DOCTYPE html>
<html ng-app="phonecatApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="PhoneListController">

    <div>
        <p>名字 : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <h2>{{1+1}}</h2>
    </div>

    <div>
        Search: <input type="text" ng-model="query">
        Sort by: <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
        <hr>
        <ul>
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>

</body>

</html>