.page {
    font-size: 14px;
    font-family: '微软雅黑', Arial;
    border: 1px solid #09c;
    width: 305px;
}

.page a,
.page a:hover {
    text-decoration: none;
    color: #fff;
    background: #09C;
    padding: 5px;
}

.page input {
    width: 130px;
    text-align: center;
    padding: 3px;
    border: none;
    margin: 5px 0 3px 0;
}
button{
    display: block;
}
