<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BFC三栏布局</title>
</head>
<style>
	*{
		margin: 0;
		padding: 0;
	}
	.left{
		float: left;
		height: 200px;
		width: 100px;
		margin-right: 20px;
		background: red;
	}
	.right{
		float: right;
		width: 200px;
		height: 200px;
		margin-left: 20px;
		background: green;
	}
	.main{
		height: 200px;
		overflow: hidden; /* 触发BFC */
		background: blue;
	}
</style>
<body>
	<div class="container">
		<div class="left"></div>
		<div class="right"></div>
		<div class="main"></div>
	</div>
</body>
</html>