<!Doctype>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Table布局</title>
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			.container{
				display: table;
				width: 100%;
			}

			.left,.main,.right{
				display: table-cell;
			}

			.left{
				width: 200px;
				height: 300px;
				background: red;
			}

			.main{
				background: green;
			}

			.right{
				width: 100px;
				height: 300px;
				background: blue;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="left"></div>
			<div class="main"></div>
			<div class="right"></div>
		</div>
	</body>
</html>