<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三栏布局之 流体布局</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		.left{
			float: left;
			width: 100px;
			height: 200px;
			background: red;
		}

		.right{
			float:right;
			width: 200px;
			height: 200px;
			background: green;
		}

		.main{
			height: 200px;
			margin-left: 100px;
			margin-right: 200px;
			background: blue;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="left"></div>
		<div class="right"></div>
		<div class="main"></div>
	</div>
</body>
</html>