.style1{
	background: red;
}
.style2{
	background: blue;
}

/*这样为上下级关系*/
.style1 .style2{
	background: green;
}

/*这样就能找到class同时为style1 style2的div*/
.style1.style2{
	width: 100px;
	height: 100px;
	background: green;
}